.navbar{
  background-color:
}
.nav-link{
  color: #FFFFFF !important;
}
.nav-link:hover{
  background-color: #ffffff;
  color: #020810 !important;
  border-radius: 5%;
  opacity: 0.7;
}



.navbar-brand{
  width: 50px;
}

/* Paramètre du background */

.profile-page{
  background-image: url('https://a0.muscache.com/pictures/a430c412-63bc-45f5-8a13-55647449a0b1.jpg');
}
